# # Supabase Configuration
# NEXT_PUBLIC_SUPABASE_URL=https://cklzwegkoczntgklhykl.supabase.co
# NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_nRGuhcHrFxlNtf_tmytbJg_PHiTe0Ao

# # Dynamic Labs Configuration
# NEXT_PUBLIC_DYNAMIC_ENV_ID=aa643bdd-0537-4262-adb5-6e833bcade37

# # API URL
# NEXT_PUBLIC_API_URL=http://localhost:3000

# DYNAMIC_JWKS_URL=https://app.dynamic.xyz/api/v0/sdk/aa643bdd-0537-4262-adb5-6e833bcade37/.well-known/jwks

# # Base Sepolia Network
# NEXT_PUBLIC_CHAIN_ID=84532
# NEXT_PUBLIC_RPC_URL=https://sepolia.base.org