# COPY HẾT BỎ VÀO .env.local | SETUP LOCAL | SUPABASE LÀ DÙNG CHUNG

## DATABASE CONFIGURATION
# true = PostgreSQL local (Docker)
# false = Supabase (recommended)
USE_LOCAL_DB=false               # server side
NEXT_PUBLIC_USE_LOCAL_DB=false   # client side
NEXT_PUBLIC_WS_URL=ws://localhost:3001 # WebSocket URL for LOCAL development (comment khi run trên Supabase)

# Local PostgreSQL Configuration
LOCAL_DB_HOST=localhost
LOCAL_DB_PORT=5432
LOCAL_DB_USER=postgres
LOCAL_DB_PASSWORD=your_pass
LOCAL_DB_NAME=metabased #(or your name)

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://cklzwegkoczntgklhykl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_nRGuhcHrFxlNtf_tmytbJg_PHiTe0Ao

# Dynamic Labs Configuration
NEXT_PUBLIC_DYNAMIC_ENV_ID=aa643bdd-0537-4262-adb5-6e833bcade37

# API URL
NEXT_PUBLIC_API_URL=http://localhost:3000

DYNAMIC_JWKS_URL=https://app.dynamic.xyz/api/v0/sdk/aa643bdd-0537-4262-adb5-6e833bcade37/.well-known/jwks

# Base Sepolia Network
NEXT_PUBLIC_CHAIN_ID=84532
NEXT_PUBLIC_RPC_URL=https://sepolia.base.org

# Contracts on Base Sepolia
NEXT_PUBLIC_NFT721_CONTRACT_ADDRESS=0xADaA1f81A5e9a3c41e2b711e3Ac127eeb0AC1941
NEXT_PUBLIC_NFT1155_CONTRACT_ADDRESS=0x33746a3EFae423E9343Af68e94de1FcE009Cc956
NEXT_PUBLIC_MARKETPLACE_CONTRACT_ADDRESS=0xa8A15dF86251069C740ECeC04Bc8690C22dF8113
NFT721_CONTRACT_ADDRESS=0xADaA1f81A5e9a3c41e2b711e3Ac127eeb0AC1941
NFT1155_CONTRACT_ADDRESS=0x33746a3EFae423E9343Af68e94de1FcE009Cc956
MARKETPLACE_CONTRACT_ADDRESS=0xa8A15dF86251069C740ECeC04Bc8690C22dF8113